# Note

It is advisable to go to the url stated in the code explanations (https://8weeksqlchallenge.com/case-study-1/) to get the sql queries that will create the database schema and tables in a proper DBMS such as postgres.

However, an alternative approach is to run this .ipynb file to create the database using sqlite3. Please note, however, that with a local database host such as sqlite3, you cannot create a "schema" in the traditional sense of the word. Hence, you will need to delete "dannys_diner" from all the queries wherever it is coupled to a table name For example, you have to render "dannys_diner.sales" as just "sales" since the schema was never created.

After running this .ipynb file, a "dannys_dinner.db" file in the same directory that you run this .ipynb file in, which you can then open up with any suitable tool to render the sql queries.

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('dannys_dinner.db')
c=conn.cursor()

In [6]:
c.execute("""
CREATE TABLE sales (
  "customer_id" VARCHAR(1),
  "order_date" DATE,
  "product_id" INTEGER
);""")

c.execute("""
INSERT INTO sales
  ("customer_id", "order_date", "product_id")
VALUES
  ('A', '2021-01-01', '1'),
  ('A', '2021-01-01', '2'),
  ('A', '2021-01-07', '2'),
  ('A', '2021-01-10', '3'),
  ('A', '2021-01-11', '3'),
  ('A', '2021-01-11', '3'),
  ('B', '2021-01-01', '2'),
  ('B', '2021-01-02', '2'),
  ('B', '2021-01-04', '1'),
  ('B', '2021-01-11', '1'),
  ('B', '2021-01-16', '3'),
  ('B', '2021-02-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-01', '3'),
  ('C', '2021-01-07', '3');
""") 

c.execute("""
CREATE TABLE menu (
  "product_id" INTEGER,
  "product_name" VARCHAR(5),
  "price" INTEGER
);""")

c.execute("""
INSERT INTO menu
  ("product_id", "product_name", "price")
VALUES
  ('1', 'sushi', '10'),
  ('2', 'curry', '15'),
  ('3', 'ramen', '12');
""")  

c.execute("""
CREATE TABLE members (
  "customer_id" VARCHAR(1),
  "join_date" DATE
);""")

c.execute("""
INSERT INTO members
  ("customer_id", "join_date")
VALUES
  ('A', '2021-01-07'),
  ('B', '2021-01-09');
""")

conn.commit()
conn.close()